Repository IgniteUI/igniteui-theming, pull requests merged in 2023-10, with the labels that each got.

#116 fix(list/card/dialog): component schema issues
  sass/themes/schemas/components/dark/_list.scss
  sass/themes/schemas/components/dark/_tree.scss
  sass/themes/schemas/components/elevation/_card.scss
  sass/themes/schemas/components/light/_card.scss
  sass/themes/schemas/components/light/_dialog.scss
  sass/themes/schemas/components/light/_tree.scss
Labels: :x: status: awaiting-test, elevations, schemas

#117 refactor(rating): use the latest color from the webC.
  sass/themes/schemas/components/dark/_rating.scss
  sass/themes/schemas/components/light/_rating.scss
Labels: schemas

#119 feat(schema): provide icon button schemas
  sass/themes/schemas/components/dark/_icon-button.scss
  sass/themes/schemas/components/light/_icon-button.scss
Labels: schemas

#123 feat(schemas): add default size to component schemas
  sass/themes/schemas/components/light/_avatar.scss
  sass/themes/schemas/components/light/_button-group.scss
  sass/themes/schemas/components/light/_button.scss
  sass/themes/schemas/components/light/_calendar.scss
  sass/themes/schemas/components/light/_card.scss
  sass/themes/schemas/components/light/_chip.scss
  sass/themes/schemas/components/light/_combo.scss
  sass/themes/schemas/components/light/_dialog.scss
  sass/themes/schemas/components/light/_drop-down.scss
  sass/themes/schemas/components/light/_icon.scss
  sass/themes/schemas/components/light/_input-group.scss
  sass/themes/schemas/components/light/_list.scss
  sass/themes/schemas/components/light/_rating.scss
  sass/themes/schemas/components/light/_select.scss
  sass/themes/schemas/components/light/_tree.scss
Labels: :x: status: awaiting-test, schemas

#124 fix(buttons): fluent contained buttons and icon buttons
  sass/themes/schemas/components/dark/_button.scss
  sass/themes/schemas/components/dark/_icon-button.scss
  sass/themes/schemas/components/light/_icon-button.scss
Labels: :x: status: awaiting-test, schemas
