Repository IgniteUI/igniteui-theming, pull requests merged in 2023-07, with the labels that each got.

#90 feat(label): add schema files
  sass/themes/schemas/components/dark/_index.scss
  sass/themes/schemas/components/dark/_label.scss
  sass/themes/schemas/components/light/_index.scss
  sass/themes/schemas/components/light/_label.scss
Labels: :white_check_mark: status: verified

#92 Adding size inside component schemas
  sass/themes/schemas/components/light/_avatar.scss
  sass/themes/schemas/components/light/_button.scss
  sass/themes/schemas/components/light/_chip.scss
  sass/themes/schemas/components/light/_drop-down.scss
  sass/themes/schemas/components/light/_grid-toolbar.scss
  sass/themes/schemas/components/light/_grid.scss
  sass/themes/schemas/components/light/_icon.scss
  sass/themes/schemas/components/light/_input-group.scss
  sass/themes/schemas/components/light/_pagination.scss
  sass/themes/schemas/components/light/_tree.scss
Labels: :x: status: awaiting-test, schemas

#93 refactor(*): rework size declarations
  sass/themes/_functions.scss
  sass/themes/schemas/components/light/_avatar.scss
  sass/themes/schemas/components/light/_button.scss
  sass/themes/schemas/components/light/_chip.scss
  sass/themes/schemas/components/light/_drop-down.scss
  sass/themes/schemas/components/light/_grid-toolbar.scss
  sass/themes/schemas/components/light/_grid.scss
  sass/themes/schemas/components/light/_icon.scss
  sass/themes/schemas/components/light/_input-group.scss
  sass/themes/schemas/components/light/_pagination.scss
  sass/themes/schemas/components/light/_tree.scss
Labels: :white_check_mark: status: verified

#96 refactor(button): wrong order for fab button sizing
  sass/themes/schemas/components/light/_button.scss
Labels: schemas
