Repository IgniteUI/igniteui-theming, pull requests merged in 2023-09, with the labels that each got.

#109 feat(grid): include styling props for ESF
  sass/themes/schemas/components/light/_grid.scss
Labels: :white_check_mark: status: verified

#110 fix(checkbox): wrong checked disabled color
  sass/themes/schemas/components/light/_checkbox.scss
Labels: :x: status: awaiting-test, schema: checkbox

#111 refactor(checkbox): update disabled colors for indigo theme.
  sass/themes/schemas/components/dark/_checkbox.scss
  sass/themes/schemas/components/light/_checkbox.scss
Labels: schemas

#112 fix(checkbox): indigo checkbox hover in dark theme
  sass/themes/schemas/components/dark/_checkbox.scss
Labels: :x: status: awaiting-test, schemas

#113 refactor(border-radius): resolve border-radius during schema digestion
  sass/themes/_functions.scss
  sass/themes/schemas/components/light/_action-strip.scss
  sass/themes/schemas/components/light/_button-group.scss
  sass/themes/schemas/components/light/_button.scss
  sass/themes/schemas/components/light/_calendar.scss
  sass/themes/schemas/components/light/_card.scss
  sass/themes/schemas/components/light/_carousel.scss
  sass/themes/schemas/components/light/_checkbox.scss
  sass/themes/schemas/components/light/_chip.scss
  sass/themes/schemas/components/light/_dialog.scss
  sass/themes/schemas/components/light/_drop-down.scss
  sass/themes/schemas/components/light/_expansion-panel.scss
  sass/themes/schemas/components/light/_grid.scss
  sass/themes/schemas/components/light/_input-group.scss
  sass/themes/schemas/components/light/_list.scss
  sass/themes/schemas/components/light/_navdrawer.scss
  sass/themes/schemas/components/light/_progress.scss
  sass/themes/schemas/components/light/_snackbar.scss
  sass/themes/schemas/components/light/_splitter.scss
  sass/themes/schemas/components/light/_stepper.scss
  sass/themes/schemas/components/light/_switch.scss
  sass/themes/schemas/components/light/_tabs.scss
  sass/themes/schemas/components/light/_time-picker.scss
  sass/themes/schemas/components/light/_toast.scss
  sass/themes/schemas/components/light/_tooltip.scss
  sass/themes/schemas/components/light/_watermark.scss
  test/_themes.spec.scss
Labels: :white_check_mark: status: verified, schemas

#115 refactor(toast): add border-color
  sass/themes/schemas/components/dark/_toast.scss
  sass/themes/schemas/components/light/_toast.scss
Labels: :white_check_mark: status: verified, schemas

#114 refactor(divider): add inset property to the schema
  sass/themes/schemas/components/light/_divider.scss
Labels: :white_check_mark: status: verified, schemas
