Repository IgniteUI/igniteui-theming, pull requests merged in 2023-05, with the labels that each got.

#72 feat(theming): Adding schemas for components
  sass/themes/_index.scss
  sass/themes/schemas/_index.scss
  sass/themes/schemas/components/_index.scss
  sass/themes/schemas/components/dark/_avatar.scss
  sass/themes/schemas/components/dark/_button.scss
  sass/themes/schemas/components/dark/_checkbox.scss
  sass/themes/schemas/components/dark/_combo.scss
  sass/themes/schemas/components/dark/_drop-down.scss
  sass/themes/schemas/components/dark/_icon.scss
  sass/themes/schemas/components/dark/_index.scss
  sass/themes/schemas/components/dark/_input-group.scss
  sass/themes/schemas/components/dark/_navbar.scss
  sass/themes/schemas/components/dark/_radio.scss
  sass/themes/schemas/components/dark/_rating.scss
  sass/themes/schemas/components/dark/_select.scss
  sass/themes/schemas/components/dark/_slider.scss
  sass/themes/schemas/components/dark/_switch.scss
  sass/themes/schemas/components/dark/_tabs.scss
  sass/themes/schemas/components/dark/_tree.scss
  sass/themes/schemas/components/elevation/_button.scss
  sass/themes/schemas/components/elevation/_drop-down.scss
  sass/themes/schemas/components/elevation/_input-group.scss
  sass/themes/schemas/components/elevation/_navbar.scss
  sass/themes/schemas/components/elevation/_switch.scss
  sass/themes/schemas/components/light/_avatar.scss
  sass/themes/schemas/components/light/_button.scss
  sass/themes/schemas/components/light/_checkbox.scss
  sass/themes/schemas/components/light/_combo.scss
  sass/themes/schemas/components/light/_drop-down.scss
  sass/themes/schemas/components/light/_icon.scss
  sass/themes/schemas/components/light/_index.scss
  sass/themes/schemas/components/light/_input-group.scss
  sass/themes/schemas/components/light/_navbar.scss
  sass/themes/schemas/components/light/_radio.scss
  sass/themes/schemas/components/light/_rating.scss
  sass/themes/schemas/components/light/_select.scss
  sass/themes/schemas/components/light/_slider.scss
  sass/themes/schemas/components/light/_switch.scss
  sass/themes/schemas/components/light/_tabs.scss
  sass/themes/schemas/components/light/_tree.scss
Labels: :white_check_mark: status: verified, schemas

#74 feat(theming): Revert checkbox schema to it's original state.
  sass/themes/schemas/components/light/_checkbox.scss
Labels: :white_check_mark: status: verified, schema: checkbox

#76 fix(palette): doesn't work with handmade palettes
  package.json
  sass/color/_functions.scss
  sass/color/_mixins.scss
  test/_color.spec.scss
  test/e2e/theme.scss
  test/styles/_mocks.scss
Labels: :white_check_mark: status: verified, palettes

#79 fix(color): do not check for color validity
  sass/color/_functions.scss
  test/_themes.spec.scss
  test/styles/_mocks.scss
Labels: :x: status: awaiting-test, palettes
