Repository IgniteUI/igniteui-theming, pull requests merged in 2023-06, with the labels that each got.

#85 fix(grid): missing property in schema
  sass/themes/schemas/components/light/_grid.scss
Labels: :white_check_mark: status: verified, schemas

#87 fix(borders): incomplete border radius declarations
  sass/themes/_functions.scss
  sass/themes/_mixins.scss
  sass/themes/schemas/components/light/_action-strip.scss
  sass/themes/schemas/components/light/_avatar.scss
  sass/themes/schemas/components/light/_badge.scss
  sass/themes/schemas/components/light/_button-group.scss
  sass/themes/schemas/components/light/_button.scss
  sass/themes/schemas/components/light/_calendar.scss
  sass/themes/schemas/components/light/_card.scss
  sass/themes/schemas/components/light/_carousel.scss
  sass/themes/schemas/components/light/_checkbox.scss
  sass/themes/schemas/components/light/_chip.scss
  sass/themes/schemas/components/light/_dialog.scss
  sass/themes/schemas/components/light/_drop-down.scss
  sass/themes/schemas/components/light/_expansion-panel.scss
  sass/themes/schemas/components/light/_grid.scss
  sass/themes/schemas/components/light/_input-group.scss
  sass/themes/schemas/components/light/_list.scss
  sass/themes/schemas/components/light/_navdrawer.scss
  sass/themes/schemas/components/light/_progress.scss
  sass/themes/schemas/components/light/_snackbar.scss
  sass/themes/schemas/components/light/_splitter.scss
  sass/themes/schemas/components/light/_stepper.scss
  sass/themes/schemas/components/light/_switch.scss
  sass/themes/schemas/components/light/_tabs.scss
  sass/themes/schemas/components/light/_time-picker.scss
  sass/themes/schemas/components/light/_toast.scss
  sass/themes/schemas/components/light/_tooltip.scss
  sass/themes/schemas/components/light/_watermark.scss
  test/_themes.spec.scss
Labels: :x: status: awaiting-test

#89 refactor(icon): remove size property from icon schema.
  sass/themes/schemas/components/light/_icon.scss
Labels: schemas
