Repository IgniteUI/igniteui-theming, pull requests merged in 2024-05, with the labels that each got.

#255 feat(typography): update indigo typography overline styles
  sass/typography/presets/_indigo.scss
Labels: :white_check_mark: status: verified, typography, indigo-theme, awaiting: design-validation 🖌️

#260 feat(switch/checkbox/radio): update dark fill and hover colors
  sass/themes/schemas/components/dark/_checkbox.scss
  sass/themes/schemas/components/dark/_radio.scss
  sass/themes/schemas/components/dark/_switch.scss
Labels: :x: status: awaiting-test, schema: checkbox, awaiting: design-validation 🖌️, switch, radio

#256 feat(radio): implement radio enchancements
  sass/themes/schemas/components/dark/_radio.scss
  sass/themes/schemas/components/light/_radio.scss
Labels: schemas, breaking-change, material, fluent-theme, bootstrap-theme, radio

#253 feat(checkbox): update checkbox schemas
  sass/themes/schemas/components/dark/_checkbox.scss
  sass/themes/schemas/components/light/_checkbox.scss
Labels: :white_check_mark: status: verified, schema: checkbox

#251 style(switch): update switch schemas
  sass/themes/schemas/components/dark/_switch.scss
  sass/themes/schemas/components/elevation/_switch.scss
  sass/themes/schemas/components/light/_switch.scss
Labels: schemas, material, fluent-theme, switch, bootstrap-theme

#252 refactor(nav-drawer): schema colors
  sass/themes/schemas/components/dark/_navdrawer.scss
  sass/themes/schemas/components/elevation/_navdrawer.scss
  sass/themes/schemas/components/light/_navdrawer.scss
Labels: :x: status: awaiting-test, schemas, navdrawer

#262 refactor(list): update list schemas
  sass/themes/schemas/components/dark/_list.scss
  sass/themes/schemas/components/light/_list.scss
Labels: schemas, indigo-theme, list

#257 refactor(progress): update indigo theme styles
  sass/themes/schemas/components/dark/_progress.scss
  sass/themes/schemas/components/light/_progress.scss
Labels: :x: status: awaiting-test, indigo-theme

#254 refactor(drop-down): update indigo styles
  sass/themes/schemas/components/dark/_drop-down.scss
  sass/themes/schemas/components/elevation/_drop-down.scss
  sass/themes/schemas/components/light/_drop-down.scss
Labels: :x: status: awaiting-test, schemas, indigo-theme

#265 fix(nav-drawer): change item-hover-background in dark bootstrap schema
  sass/themes/schemas/components/dark/_navdrawer.scss
Labels: schemas, bootstrap-theme

#266 Update border-color to use transparent color for all themes except bootstrap
  sass/themes/schemas/components/light/_navbar.scss
Labels: schemas, navbar

#270 refactor(tree): update selected item foreground color
  sass/themes/schemas/components/dark/_tree.scss
  sass/themes/schemas/components/light/_tree.scss
Labels: indigo-theme, tree

#271 fix(button): material theme default size
  sass/themes/schemas/components/light/_button.scss
Labels: :x: status: awaiting-test, material, button

#268 refactor(indigo): update elevations presets
  sass/elevations/presets/_indigo.scss
Labels: :x: status: awaiting-test, elevations, indigo-theme, design: verified

#269 refactor(snackbar): indigo theme elevations
  sass/themes/schemas/components/dark/_snackbar.scss
  sass/themes/schemas/components/elevation/_snackbar.scss
Labels: :x: status: awaiting-test, elevations, indigo-theme

#272 refactor(icon button, button-group): update default sizes
  sass/themes/schemas/components/light/_button-group.scss
  sass/themes/schemas/components/light/_icon-button.scss
Labels: icon-button, button-group, size
