Repository IgniteUI/igniteui-theming, pull requests merged in 2024-04, with the labels that each got.

#215 feat(splitter): change indigo splitter colors
  sass/themes/schemas/components/dark/_splitter.scss
  sass/themes/schemas/components/light/_splitter.scss
Labels: indigo-theme, splitter

#221 feat(slider): update indigo slider schema
  sass/themes/schemas/components/dark/_slider.scss
  sass/themes/schemas/components/light/_slider.scss
Labels: indigo-theme, slider

#229 Refactor indigo time picker schema
  sass/themes/schemas/components/dark/_time-picker.scss
  sass/themes/schemas/components/elevation/_time-picker.scss
  sass/themes/schemas/components/light/_time-picker.scss
Labels: :x: status: awaiting-test, indigo-theme

#224 feat(tree): update indigo tree schemas and docs
  sass/themes/schemas/components/dark/_tree.scss
  sass/themes/schemas/components/light/_tree.scss
Labels: :x: status: awaiting-test, indigo-theme, awaiting: design-validation 🖌️, tree

#231 fix(button): material contained hover/focus/active colors
  sass/themes/schemas/components/light/_button.scss
Labels: material, button

#236 fix(calendar): update indigo colors
  sass/themes/schemas/components/dark/_calendar.scss
  sass/themes/schemas/components/light/_calendar.scss
Labels: :x: status: awaiting-test, schemas, indigo-theme, design: verified

#232 fix(typography): indigo overline styles
  sass/typography/presets/_indigo.scss
Labels: :x: status: awaiting-test, typography, indigo-theme

#237 fix(indigo-palette): surface color shades
  sass/color/presets/dark/_indigo.scss
  sass/color/presets/light/_indigo.scss
Labels: :x: status: awaiting-test, palettes, indigo-theme

#246 feat(palette): update fluent dark surface color
  sass/color/presets/dark/_fluent.scss
Labels: design: verified, fluent-theme

#241 feat(switch): implement indigo theme updates
  sass/themes/schemas/components/dark/_switch.scss
  sass/themes/schemas/components/light/_switch.scss
Labels: :x: status: awaiting-test, indigo-theme

#216 refactor(button/btn-group): color updates
  sass/themes/schemas/components/dark/_button-group.scss
  sass/themes/schemas/components/dark/_button.scss
  sass/themes/schemas/components/dark/_icon-button.scss
  sass/themes/schemas/components/light/_button-group.scss
  sass/themes/schemas/components/light/_button.scss
  sass/themes/schemas/components/light/_icon-button.scss
Labels: :x: status: awaiting-test, schemas, button
