Repository IgniteUI/igniteui-theming, pull requests merged in 2024-07, with the labels that each got.

#284 Indigo Themes: Updates to Toast, Tooltip, Stepper, Rating
  sass/themes/schemas/components/dark/_rating.scss
  sass/themes/schemas/components/dark/_stepper.scss
  sass/themes/schemas/components/dark/_toast.scss
  sass/themes/schemas/components/dark/_tooltip.scss
  sass/themes/schemas/components/elevation/_toast.scss
  sass/themes/schemas/components/elevation/_tooltip.scss
  sass/themes/schemas/components/light/_rating.scss
  sass/themes/schemas/components/light/_stepper.scss
  sass/themes/schemas/components/light/_toast.scss
  sass/themes/schemas/components/light/_tooltip.scss
Labels: :white_check_mark: status: verified, toast, tooltip, stepper, rating

#299 feat(grid): indigo design summary updates
  sass/themes/schemas/components/dark/_grid-summary.scss
  sass/themes/schemas/components/light/_grid-summary.scss
  sass/themes/schemas/components/light/_grid.scss
Labels: indigo-theme, grid

#298 fix(toolbar): add border-color prop
  sass/themes/schemas/components/dark/_grid-toolbar.scss
  sass/themes/schemas/components/light/_grid-toolbar.scss
Labels: :x: status: awaiting-test

#287 feat(paginator): implement indigo design changes
  sass/themes/schemas/components/dark/_pagination.scss
  sass/themes/schemas/components/light/_pagination.scss
Labels: :x: status: awaiting-test, indigo-theme

#286 feat(grid): indigo design query builder updates
  sass/themes/schemas/components/dark/_query-builder.scss
  sass/themes/schemas/components/light/_grid.scss
  sass/themes/schemas/components/light/_query-builder.scss
Labels: :x: status: awaiting-test, indigo-theme, grid

#306 refactor(grid): update indigo schema
  sass/themes/schemas/components/dark/_grid.scss
  sass/themes/schemas/components/light/_grid.scss
Labels: schemas, indigo-theme, grid

#217 refactor(json): don't log out a comment with no context
  scripts/parser.mjs
Labels: build, version: 10.1.x

#303 Indigo: Add grid-related updates
  sass/themes/schemas/components/dark/_grid-summary.scss
  sass/themes/schemas/components/dark/_grid-toolbar.scss
  sass/themes/schemas/components/dark/_grid.scss
  sass/themes/schemas/components/dark/_pagination.scss
  sass/themes/schemas/components/dark/_query-builder.scss
  sass/themes/schemas/components/light/_grid-summary.scss
  sass/themes/schemas/components/light/_grid-toolbar.scss
  sass/themes/schemas/components/light/_grid.scss
  sass/themes/schemas/components/light/_pagination.scss
  sass/themes/schemas/components/light/_query-builder.scss
Labels: schemas, grid, version: 10.1.x

#305 refactor(combo, select): update indigo colors
  sass/themes/schemas/charts/light/_data-chart.scss
  sass/themes/schemas/components/light/_combo.scss
  sass/themes/schemas/components/light/_select.scss
Labels: :white_check_mark: status: verified, schemas, indigo-theme, version: 10.1.x

#304 feat(carousel): update with latest changes
  sass/themes/schemas/components/dark/_carousel.scss
  sass/themes/schemas/components/elevation/_carousel.scss
  sass/themes/schemas/components/light/_carousel.scss
Labels: schemas, breaking-change, carousel, version: 11.0.0

#300 calendar - update light and dark schemas according to new design
  sass/themes/schemas/components/dark/_calendar.scss
  sass/themes/schemas/components/light/_calendar.scss
Labels: :white_check_mark: status: verified, schemas, indigo-theme, calendar, version: 10.1.x

#308 refactor(scrollbar): update schemas
  sass/themes/schemas/components/dark/_scrollbar.scss
  sass/themes/schemas/components/light/_scrollbar.scss
Labels: schemas, breaking-change, version: 11.1.x

#137 refactor(*): use CSS relative colors
  README.md
  package-lock.json
  package.json
  sass/color/_functions.scss
  sass/color/_mixins.scss
  sass/color/_multipliers.scss
  sass/color/presets/dark/_indigo.scss
  sass/color/presets/light/_indigo.scss
  scripts/getArgs.mjs
  scripts/previewPalette.mjs
  test/_color.spec.scss
  test/_themes.spec.scss
  test/e2e/theme.scss
Labels: palettes, version: 11.1.x
