Repository IgniteUI/igniteui-theming, pull requests merged in 2024-11, with the labels that each got.

#345 fix(time-picker): visual discrepancies
  sass/themes/schemas/components/dark/_time-picker.scss
  sass/themes/schemas/components/elevation/_time-picker.scss
  sass/themes/schemas/components/light/_time-picker.scss
Labels: :x: status: awaiting-test, schemas, design: verified, time picker

#346 refactor(tabs): update schema colors
  sass/themes/schemas/components/dark/_tabs.scss
  sass/themes/schemas/components/light/_tabs.scss
Labels: :x: status: awaiting-test, schemas, tabs

#356 fix(color): contrast-color with palette not returning a value of type color
  sass/color/_functions.scss
  test/_color.spec.scss
Labels: :white_check_mark: status: verified, palettes

#357 fix(list): color updates
  sass/themes/schemas/components/light/_list.scss
Labels: :white_check_mark: status: verified, schemas, list
