Repository IgniteUI/igniteui-theming, pull requests merged in 2024-10, with the labels that each got.

#339 Indigo: Update Tab & Chip Schemas
  sass/themes/schemas/components/dark/_chip.scss
  sass/themes/schemas/components/dark/_tabs.scss
  sass/themes/schemas/components/light/_chip.scss
  sass/themes/schemas/components/light/_tabs.scss
Labels: chip, tabs, version: 14.0.0

#340 fix(dropdown): update elevations
  sass/themes/schemas/components/elevation/_drop-down.scss
Labels: elevations, material, fluent-theme, drop-down, version: 14.0.0

#342 refactor(badge): remove border width property
  sass/themes/schemas/components/light/_badge.scss
Labels: :x: status: awaiting-test, schemas, badge, version: 14.1.x

#329 feat(palettes): switch to relative CSS colors in the palettes
  .stylelintrc.json
  README.md
  package-lock.json
  package.json
  sass/color/_functions.scss
  sass/color/_mixins.scss
  sass/color/_multipliers.scss
  sass/color/presets/dark/_indigo.scss
  sass/color/presets/light/_indigo.scss
  sass/elevations/presets/_index.scss
  sass/elevations/presets/_indigo.scss
  sass/elevations/presets/_material.scss
  scripts/buildJSON.mjs
  scripts/getArgs.mjs
  scripts/previewPalette.mjs
  test/_color.spec.scss
  test/_elevations.spec.scss
  test/_themes.spec.scss
  test/e2e/theme.scss
  test/styles/_mocks.scss
Labels: palettes, version: 14.1.x

#347 fix(palettes): color function with palette always returns the same color
  sass/color/_functions.scss
  sass/color/_mixins.scss
  test/_color.spec.scss
Labels: :white_check_mark: status: verified, palettes, version: 14.1.x

#351 fix(themes): package will not build with Sass 1.80+
  sass/themes/_functions.scss
Labels: :white_check_mark: status: verified, build, version: 14.1.x

#348 fix(card): update border radius for card
  sass/themes/schemas/components/light/_card.scss
Labels: fluent-theme, version: 14.1.x, card
