Repository IgniteUI/igniteui-theming, pull requests merged in 2024-02, with the labels that each got.

#167 feat(color): add the ability to define contrast colors with alpha
  sass/color/_functions.scss
  test/_color.spec.scss
  test/_themes.spec.scss
Labels: :white_check_mark: status: verified

#166 feat(navbar): add border color
  sass/themes/schemas/components/light/_navbar.scss
  sass/themes/schemas/components/light/_navdrawer.scss
Labels: :white_check_mark: status: verified, schemas

#158 refactor(indigo): implement foundations
  sass/color/presets/dark/_indigo.scss
  sass/color/presets/light/_indigo.scss
  sass/typography/presets/_indigo.scss
Labels: elevations, typography, palettes, indigo-theme

#174 feat(icon): update icon sizes for new indigo theme
  sass/themes/schemas/components/light/_icon.scss
Labels: :x: status: awaiting-test, indigo-theme, icon

#160 feat(button/icon button): update components schemas
  sass/themes/schemas/components/dark/_button.scss
  sass/themes/schemas/components/dark/_icon-button.scss
  sass/themes/schemas/components/light/_button.scss
  sass/themes/schemas/components/light/_icon-button.scss
  sass/typography/presets/_fluent.scss
Labels: schemas, button, icon-button

#165 refactor(input): implement indigo design changes
  sass/themes/schemas/components/dark/_input-group.scss
  sass/themes/schemas/components/elevation/_input-group.scss
  sass/themes/schemas/components/light/_input-group.scss
Labels: :x: status: awaiting-test, schemas, indigo-theme

#186 feat(card): implement indigo design changes
  sass/themes/schemas/components/dark/_card.scss
  sass/themes/schemas/components/light/_card.scss
Labels: :x: status: awaiting-test, indigo-theme

#184 feat(button-group): implement indigo design changes
  sass/themes/schemas/components/dark/_button-group.scss
  sass/themes/schemas/components/light/_button-group.scss
Labels: :x: status: awaiting-test, schemas, indigo-theme

#185 feat(radio): update schemas for new indigo ui kit
  sass/themes/schemas/components/dark/_radio.scss
  sass/themes/schemas/components/light/_radio.scss
Labels: :x: status: awaiting-test, indigo-theme

#190 feat(button): add icon colors to schemas
  sass/themes/schemas/components/dark/_button.scss
  sass/themes/schemas/components/light/_button.scss
Labels: button

#197 feat(banner): implement indigo design changes
  sass/themes/schemas/components/dark/_banner.scss
  sass/themes/schemas/components/light/_banner.scss
Labels: :x: status: awaiting-test, indigo-theme

#196 feat(snackbar): implement indigo design changes
  sass/themes/schemas/components/elevation/_snackbar.scss
  sass/themes/schemas/components/light/_snackbar.scss
Labels: :x: status: awaiting-test, indigo-theme
