Repository IgniteUI/igniteui-theming, pull requests merged in 2024-03, with the labels that each got.

#189 feat(carousel): implement indigo design changes
  sass/themes/schemas/components/dark/_carousel.scss
  sass/themes/schemas/components/light/_carousel.scss
Labels: :x: status: awaiting-test, indigo-theme

#199 feat(expansion-panel): update indigo schema for new ui kit
  sass/themes/schemas/components/dark/_expansion-panel.scss
  sass/themes/schemas/components/light/_expansion-panel.scss
Labels: indigo-theme

#203 fix(palettes): use strings for keys in indigo palettes
  sass/color/presets/dark/_indigo.scss
  sass/color/presets/light/_indigo.scss
Labels: :white_check_mark: status: verified

#202 typography(fluent/bootstrap): update typography styles
  sass/typography/presets/_bootstrap.scss
  sass/typography/presets/_fluent.scss
Labels: :white_check_mark: status: verified, typography, design: verified

#214 fix(schemas): switch & dropdown issues
  sass/themes/schemas/components/light/_drop-down.scss
  sass/themes/schemas/components/light/_switch.scss
Labels: :x: status: awaiting-test, schemas
