Repository IgniteUI/igniteui-theming, pull requests merged in 2024-08, with the labels that each got.

#312 feat(progress): include circular bar diameter in the schema
  sass/themes/schemas/components/light/_progress.scss
Labels: :white_check_mark: status: verified, progress, version: 10.1.x

#315 feat(igc-validator): add schemas for validator component
  sass/themes/schemas/components/dark/_index.scss
  sass/themes/schemas/components/dark/_validator.scss
  sass/themes/schemas/components/light/_index.scss
  sass/themes/schemas/components/light/_validator.scss
Labels: version: 10.1.x

#325 refactor(navbar): updated colors for material and indigo themes
  sass/themes/schemas/components/dark/_navbar.scss
  sass/themes/schemas/components/light/_navbar.scss
Labels: :white_check_mark: status: verified, material, indigo-theme, navbar, version: 12.0.0

#328 feat(scrollbar): add new properties
  sass/themes/schemas/components/dark/_scrollbar.scss
  sass/themes/schemas/components/light/_scrollbar.scss
Labels: :white_check_mark: status: verified, version: 12.0.0
