Repository IgniteUI/igniteui-theming, pull requests merged in 2024-06, with the labels that each got.

#267 Banner - update colors according to the new design.
  sass/themes/schemas/components/dark/_banner.scss
  sass/themes/schemas/components/light/_banner.scss
Labels: schemas, banner

#273 feat(navdrawer): add props for disabled items
  sass/themes/schemas/components/dark/_navdrawer.scss
  sass/themes/schemas/components/light/_navdrawer.scss
Labels: navdrawer

#264 Indigo Themes: Update schemas for List, Dropdown, and Progress
  sass/themes/schemas/components/dark/_drop-down.scss
  sass/themes/schemas/components/dark/_list.scss
  sass/themes/schemas/components/dark/_progress.scss
  sass/themes/schemas/components/elevation/_drop-down.scss
  sass/themes/schemas/components/light/_drop-down.scss
  sass/themes/schemas/components/light/_list.scss
  sass/themes/schemas/components/light/_progress.scss
Labels: indigo-theme, list, progress, drop-down

#274 refactor(icon-button): update component styling
  sass/themes/schemas/components/dark/_icon-button.scss
  sass/themes/schemas/components/light/_icon-button.scss
Labels: :x: status: awaiting-test, schemas, icon-button, awaiting: design-validation 🖌️

#280 refactor(toast): implement indigo design updates
  sass/themes/schemas/components/dark/_toast.scss
  sass/themes/schemas/components/elevation/_toast.scss
  sass/themes/schemas/components/light/_toast.scss
Labels: :white_check_mark: status: verified, indigo-theme, toast

#281 refactor(tooltip): indigo design updates
  sass/themes/schemas/components/dark/_tooltip.scss
  sass/themes/schemas/components/elevation/_tooltip.scss
  sass/themes/schemas/components/light/_tooltip.scss
Labels: :x: status: awaiting-test, indigo-theme, tooltip

#282 refactor(stepper): update indigo schema colors to match the latest UI kit
  sass/themes/schemas/components/dark/_stepper.scss
  sass/themes/schemas/components/light/_stepper.scss
Labels: schemas, stepper

#288 Toolbar - update indigo schema colors to match the latest UI kit
  sass/themes/schemas/components/dark/_grid-toolbar.scss
  sass/themes/schemas/components/light/_grid-toolbar.scss
Labels: indigo-theme

#296 fix(progress): update bootstrap theme colors
  sass/themes/schemas/components/dark/_progress.scss
  sass/themes/schemas/components/light/_progress.scss
Labels: :x: status: awaiting-test, bootstrap-theme, progress

#294 fix(divider): dark mode component color
  sass/themes/schemas/components/dark/_divider.scss
Labels: :x: status: awaiting-test, schemas

#290 fix(chip): indigo theme color issue
  sass/themes/schemas/components/light/_chip.scss
Labels: :white_check_mark: status: verified, do-not-merge, indigo-theme

#293 refactor(calendar): simplify props
  sass/themes/schemas/components/dark/_calendar.scss
  sass/themes/schemas/components/light/_calendar.scss
Labels: :white_check_mark: status: verified, calendar
