Repository IgniteUI/igniteui-theming, pull requests merged in 2024-09, with the labels that each got.

#310 refactor(themes): indigo-related updates to Grid, Calendar, Combo and Select
  sass/themes/schemas/charts/light/_data-chart.scss
  sass/themes/schemas/components/dark/_calendar.scss
  sass/themes/schemas/components/dark/_combo.scss
  sass/themes/schemas/components/dark/_grid-summary.scss
  sass/themes/schemas/components/dark/_grid-toolbar.scss
  sass/themes/schemas/components/dark/_grid.scss
  sass/themes/schemas/components/dark/_pagination.scss
  sass/themes/schemas/components/dark/_query-builder.scss
  sass/themes/schemas/components/dark/_select.scss
  sass/themes/schemas/components/elevation/_grid.scss
  sass/themes/schemas/components/light/_calendar.scss
  sass/themes/schemas/components/light/_combo.scss
  sass/themes/schemas/components/light/_grid-summary.scss
  sass/themes/schemas/components/light/_grid-toolbar.scss
  sass/themes/schemas/components/light/_grid.scss
  sass/themes/schemas/components/light/_pagination.scss
  sass/themes/schemas/components/light/_query-builder.scss
  sass/themes/schemas/components/light/_select.scss
  sass/typography/presets/_indigo.scss
  scripts/parser.mjs
Labels: grid, version: 12.2.x

#336 fix(grid): add missing property
  sass/themes/schemas/components/light/_grid.scss
Labels: material, fluent-theme, bootstrap-theme, grid, version: 12.2.x

#330 feat(carousel): introduce new design changes
  sass/themes/schemas/components/dark/_carousel.scss
  sass/themes/schemas/components/elevation/_carousel.scss
  sass/themes/schemas/components/light/_carousel.scss
Labels: carousel, version: 13.0.x

#337 fix(badge): correct elevations
  sass/themes/schemas/components/elevation/_badge.scss
  sass/themes/schemas/components/light/_badge.scss
Labels: :white_check_mark: status: verified, indigo-theme, version: 13.0.x, version: 12.2.x, badge

#334 refactor(tabs): indigo design updates
  sass/themes/schemas/components/dark/_tabs.scss
  sass/themes/schemas/components/light/_tabs.scss
Labels: :x: status: awaiting-test, schemas, indigo-theme, tabs

#338 refactor(data-chart): add missing theme properties
  sass/themes/charts/_data-chart-theme.scss
  sass/themes/schemas/charts/light/_data-chart.scss
Labels: version: 13.0.x, version: 12.2.x, charts
