Repository IgniteUI/igniteui-theming, pull requests merged in 2025-04, with the labels that each got.

#405 fix(slider): boostrap theme colors
  sass/themes/schemas/components/light/_slider.scss
Labels: :white_check_mark: status: verified, slider, bootstrap-theme

#400 themes(carousel): add prop for button focus arrow color
  sass/themes/schemas/components/dark/_carousel.scss
  sass/themes/schemas/components/light/_carousel.scss
Labels: :white_check_mark: status: verified, carousel, themes

#403 refactor(toast): fix toast dicrepancies with UI kits
  sass/themes/schemas/components/dark/_toast.scss
  sass/themes/schemas/components/light/_toast.scss
Labels: :white_check_mark: status: verified, toast, themes

#404 fix(snackbar): fluent theme colors
  sass/themes/schemas/components/light/_snackbar.scss
Labels: :white_check_mark: status: verified, schemas, material, fluent-theme, snackbar

#406 fix(chip): update bootstrap chip schemas
  sass/themes/schemas/components/dark/_chip.scss
  sass/themes/schemas/components/light/_chip.scss
Labels: :white_check_mark: status: verified, bootstrap-theme, chip

#408 feat(radio): add radio focus-border property
  sass/themes/schemas/components/light/_radio.scss
Labels: :white_check_mark: status: verified, bootstrap-theme, radio

#409 fix(inputs): fluent theme discrepancies
  sass/themes/schemas/components/dark/_combo.scss
  sass/themes/schemas/components/dark/_input-group.scss
  sass/themes/schemas/components/dark/_select.scss
  sass/themes/schemas/components/light/_combo.scss
  sass/themes/schemas/components/light/_input-group.scss
  sass/themes/schemas/components/light/_select.scss
Labels: :white_check_mark: status: verified, fluent-theme, input, version: 17.2.x

#410 fix(card): color discrepancies with UI kits
  sass/themes/schemas/components/dark/_card.scss
  sass/themes/schemas/components/light/_card.scss
Labels: :white_check_mark: status: verified, design: verified, card, themes, version: 17.2.x

#411 refactor(rating): move symbol size to schema
  sass/themes/schemas/components/light/_rating.scss
Labels: :x: status: awaiting-test, rating

#413 refactor(dropdown): color discrepancies with UI kits
  sass/themes/schemas/components/dark/_drop-down.scss
  sass/themes/schemas/components/light/_drop-down.scss
Labels: :white_check_mark: status: verified, material, fluent-theme, bootstrap-theme, drop-down
