Repository IgniteUI/igniteui-theming, pull requests merged in 2025-05, with the labels that each got.

#424 feat(functions): update adaptive contrast function to always return o…
  sass/color/_functions.scss
  test/_color.spec.scss
Labels: :white_check_mark: status: verified

#423 refactor(label): update colors
  sass/themes/schemas/components/dark/_label.scss
  sass/themes/schemas/components/light/_label.scss
Labels: :white_check_mark: status: verified

#420 feat(stepper): update hover/focus states background
  sass/themes/schemas/components/light/_stepper.scss
Labels: :white_check_mark: status: verified, design: verified, fluent-theme, stepper

#418 feat(progress): update dark base colors for track and circle
  sass/themes/schemas/components/dark/_progress.scss
Labels: :white_check_mark: status: verified, material, fluent-theme, bootstrap-theme, progress

#417 refactor(avatar): update dark background
  sass/themes/schemas/components/dark/_avatar.scss
  sass/themes/schemas/components/light/_avatar.scss
Labels: :screwdriver: enhancement, :x: status: awaiting-test, avatar

#407 refactor(calendar): remove unused css variables
  sass/themes/schemas/components/light/calendar/_days-view.scss
Labels: :white_check_mark: status: verified, schemas, breaking-change, calendar, Refactoring, version: 18.0.0

#429 [validator] - refactor dark validator shcema for indigo to include the correct color for the helper text
  sass/themes/schemas/components/dark/_validator.scss
Labels: :white_check_mark: status: verified, schemas, indigo-theme

#430 refactor(date-range-picker): latest design changes
  sass/themes/schemas/components/dark/_date-range-picker.scss
  sass/themes/schemas/components/light/_date-range-picker.scss
Labels: :white_check_mark: status: verified, schemas, design: verified
