Repository IgniteUI/igniteui-theming, pull requests merged in 2025-02, with the labels that each got.

#381 fix(switch): indigo theme invalid state
  sass/themes/schemas/components/dark/_switch.scss
  sass/themes/schemas/components/light/_switch.scss
Labels: :x: status: awaiting-test, schemas, indigo-theme, switch

#383 refactor(themes): add --ig-theme when theme is provided in schema
  sass/themes/_mixins.scss
  test/_themes.spec.scss
Labels: :screwdriver: enhancement, version: 14.3.x

#377 feat(schemas): add typography styles for components in schemas
  sass/themes/_mixins.scss
  sass/themes/schemas/components/light/_badge.scss
  sass/themes/schemas/components/light/_banner.scss
  sass/themes/schemas/components/light/_bottom-nav.scss
  sass/themes/schemas/components/light/_button-group.scss
  sass/themes/schemas/components/light/_button.scss
  sass/themes/schemas/components/light/_calendar.scss
  sass/themes/schemas/components/light/_card.scss
  sass/themes/schemas/components/light/_checkbox.scss
  sass/themes/schemas/components/light/_chip.scss
  sass/themes/schemas/components/light/_column-actions.scss
  sass/themes/schemas/components/light/_date-range-picker.scss
  sass/themes/schemas/components/light/_dialog.scss
  sass/themes/schemas/components/light/_drop-down.scss
  sass/themes/schemas/components/light/_expansion-panel.scss
  sass/themes/schemas/components/light/_grid.scss
  sass/themes/schemas/components/light/_icon-button.scss
  sass/themes/schemas/components/light/_input-group.scss
  sass/themes/schemas/components/light/_label.scss
  sass/themes/schemas/components/light/_list.scss
  sass/themes/schemas/components/light/_navbar.scss
  sass/themes/schemas/components/light/_navdrawer.scss
  sass/themes/schemas/components/light/_progress.scss
  sass/themes/schemas/components/light/_radio.scss
  sass/themes/schemas/components/light/_slider.scss
  sass/themes/schemas/components/light/_snackbar.scss
  sass/themes/schemas/components/light/_switch.scss
  sass/themes/schemas/components/light/_tabs.scss
  sass/themes/schemas/components/light/_time-picker.scss
  sass/themes/schemas/components/light/_toast.scss
  sass/themes/schemas/components/light/_tooltip.scss
  sass/themes/schemas/components/light/_tree.scss
Labels: :white_check_mark: status: verified, typography, schemas

#378 refactor(query-builder): update schemas based on new design
  sass/themes/schemas/components/dark/_query-builder.scss
  sass/themes/schemas/components/elevation/_query-builder.scss
  sass/themes/schemas/components/light/_query-builder.scss
Labels: schemas, query-builder, version: 14.4.x

#390 refactor(query-builder): update schema colors according to the new desigh
  sass/themes/schemas/components/dark/_query-builder.scss
  sass/themes/schemas/components/elevation/_query-builder.scss
  sass/themes/schemas/components/light/_query-builder.scss
Labels: breaking-change, query-builder, version: 15.0.x

#387 fix(tabs): change button background to transparent for indigo theme
  sass/themes/schemas/components/light/_tabs.scss
Labels: :white_check_mark: status: verified, indigo-theme, tabs, version: 15.0.x

#379 feat(bem): add negating selectors functionality
  sass/bem/_index.scss
  test/_bem.spec.scss
Labels: :screwdriver: enhancement, :white_check_mark: status: verified, bem, version: 15.0.x

#386 fix(inputs): wrong colors in material theme
  sass/themes/schemas/components/dark/_combo.scss
  sass/themes/schemas/components/dark/_input-group.scss
  sass/themes/schemas/components/dark/_select.scss
  sass/themes/schemas/components/elevation/_input-group.scss
  sass/themes/schemas/components/light/_combo.scss
  sass/themes/schemas/components/light/_input-group.scss
  sass/themes/schemas/components/light/_select.scss
Labels: :x: status: awaiting-test, schemas, material, design: verified, fluent-theme
