Repository IgniteUI/igniteui-theming, pull requests merged in 2025-03, with the labels that each got.

#388 feat(progress): add new progress properties
  sass/themes/schemas/components/light/_progress.scss
Labels: :white_check_mark: status: verified, breaking-change, material, indigo-theme, fluent-theme, bootstrap-theme, progress, version: 16.0.x

#394 feat(data-chart): add properties to return statement
  sass/themes/charts/_data-chart-theme.scss
Labels: :x: status: awaiting-test, charts

#355 feat(tile-manager): add schemas
  sass/themes/schemas/components/dark/_index.scss
  sass/themes/schemas/components/dark/_resize-indicator.scss
  sass/themes/schemas/components/dark/_tile-manager.scss
  sass/themes/schemas/components/elevation/_tile-manager.scss
  sass/themes/schemas/components/light/_index.scss
  sass/themes/schemas/components/light/_resize-indicator.scss
  sass/themes/schemas/components/light/_tile-manager.scss
Labels: schemas, design: verified, tile-manager, version: 16.1.x

#396 refactor(grid): remove summaries properties from grid schema
  sass/themes/schemas/components/dark/_grid-summary.scss
  sass/themes/schemas/components/dark/_grid.scss
  sass/themes/schemas/components/light/_grid-summary.scss
  sass/themes/schemas/components/light/_grid.scss
Labels: :white_check_mark: status: verified, breaking-change, grid, version: 17.0.0

#398 feat(checkbox): add focus-border-color prop
  sass/themes/schemas/components/light/_checkbox.scss
Labels: :white_check_mark: status: verified, schema: checkbox, bootstrap-theme

#401 refactor(switch): remove invalid props
  sass/themes/schemas/components/dark/_switch.scss
  sass/themes/schemas/components/light/_switch.scss
Labels: :white_check_mark: status: verified, breaking-change, switch, themes

#402 fix(btn-group): fix meta
  sass/themes/schemas/components/light/_button-group.scss
Labels: :white_check_mark: status: verified, schemas, button-group
